## athlete_events.csv

In [1]:
import pandas as pd

df_athlete=pd.read_csv("athlete_events.csv")

df_athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [2]:
df_athlete.shape

(271116, 15)

In [3]:
df_athlete.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

## noc_regions.csv

In [4]:
df_noc=pd.read_csv("noc_regions.csv")
df_noc.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [5]:
df_noc.shape

(230, 3)

In [6]:
df_noc.isnull().sum()

NOC         0
region      3
notes     209
dtype: int64

## Traitement des données

#### Nettoyage des vals null dans df_noc

In [7]:
df_noc.drop(columns=['notes'],inplace=True)

In [8]:
df_noc[df_noc["region"].isna()]

     NOC region
168  ROT    NaN
208  TUV    NaN
213  UNK    NaN

In [9]:
df_athlete[df_athlete["NOC"]=="UNK"]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
61080,31292,Fritz Eccard,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN
130721,65813,A. Laffen,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN

##### retirer les lignes avec NOC= UNK dans df_noc et df_athlete

In [10]:
df_noc = df_noc[df_noc["NOC"] != "UNK"]

In [11]:
df_athlete = df_athlete[df_athlete["NOC"] != "UNK"]

##### remplacer les vals null de la colonne region quand NOC = TUV ou ROT

L’Équipe Olympique des Réfugiés ("Refugee Olympic Team") est une équipe spéciale créée par le Comité International Olympique (CIO) pour permettre aux athlètes réfugiés, qui ne peuvent plus représenter leur pays d’origine parce qu’ils ont été déplacés de participer aux Jeux Olympiques.

In [12]:
df_noc.loc[df_noc["NOC"] == "TUV", "region"] = "Tuvalu"
df_noc.loc[df_noc["NOC"] == "ROT", "region"] = "Refugee Olympic Team"

#### Relier les athlètes avec df_noc pour obtenir la colonne region dans df_athlete_merged

In [13]:
df_athlete_merged = df_athlete.merge(df_noc, on="NOC", how="left")

In [14]:
df_athlete_merged.isnull().sum()

ID             0
Name           0
Sex            0
Age         9472
Height     60169
Weight     62873
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231331
region       349
dtype: int64

In [15]:
df_athlete_merged[df_athlete_merged["region"].isna()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
578,332,Zarinah Abdullah,F,21.0,NaN,NaN,Singapore,SGP,1992 Summer,1992,Summer,Barcelona,Badminton,Badminton Women's Singles,NaN,NaN
579,332,Zarinah Abdullah,F,25.0,NaN,NaN,Singapore,SGP,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Women's Singles,NaN,NaN
2719,1515,Saiyidah Aisyah Mohamed Rafa'ee,F,28.0,173.0,68.0,Singapore,SGP,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Single Sculls,NaN,NaN
7659,4264,Ang Peng Siong,M,21.0,180.0,75.0,Singapore,SGP,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Men's 100 metres Freestyle,NaN,NaN
7660,4264,Ang Peng Siong,M,21.0,180.0,75.0,Singapore,SGP,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268750,134454,Zhang Guirong,F,26.0,182.0,95.0,Singapore,SGP,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Shot Put,NaN,NaN
268751,134454,Zhang Guirong,F,30.0,182.0,95.0,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,NaN,NaN
268991,134587,Zhang Xueling,F,21.0,163.0,53.0,Singapore,SGP,2004 Summer,2004,Summer,Athina,Table Tennis,Table Tennis Women's Singles,NaN,NaN
268992,134587,Zhang Xueling,F,21.0,163.0,53.0,Singapore-1,SGP,2004 Summer,2004,Summer,Athina,Table Tennis,Table Tennis Women's Doubles,NaN,NaN
269453,134826,Zhou Yihan,F,22.0,168.0,54.0,Singapore,SGP,2016 Summer,2016,Summer,Rio de Janeiro,Table Tennis,Table Tennis Women's Team,NaN,NaN

#### remplacer le code NOC de df_athlete "SGP" par "SIN" qui est Le code NOC (National Olympic Committee) de Singapour

In [16]:
df_athlete["NOC"] = df_athlete["NOC"].replace("SGP", "SIN")

In [17]:
df_athlete_merged = df_athlete.merge(df_noc, on="NOC", how="left")
df_athlete_merged.isnull().sum()

ID             0
Name           0
Sex            0
Age         9472
Height     60169
Weight     62873
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231331
region         0
dtype: int64

#### Supprimer les duplicats dans df_athlete_merged

In [18]:
df_athlete_merged.duplicated().sum()

1385

In [19]:
df_athlete_merged = df_athlete_merged.drop_duplicates()

#### Nettoyage des vals null dans df_athlete_merged

In [20]:
df_athlete_merged["Medal"].fillna("No Medal", inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_11196\3821588095.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_athlete_merged["Medal"].fillna("No Medal", inplace=True)

Il est mieux de supprimer les colonnes Age, Height, Weight car Taux de valeurs manquantes trop élevé et Pas utiles pour l’analyse socio-économique au niveau pays

In [21]:
df_athlete_merged.isnull().sum()

ID            0
Name          0
Sex           0
Age        9313
Height    58812
Weight    61525
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal         0
region        0
dtype: int64

In [22]:
df_athlete_merged = df_athlete_merged.drop(columns=["Age", "Height", "Weight"])

In [84]:
df_athlete_merged = df_athlete_merged.rename(columns={"ID": "id_athlete"})

#### Ajouter la colonne medal_score

In [23]:
df_athlete_merged["medal_score"] = df_athlete_merged["Medal"].map({
    "Gold": 3,
    "Silver": 2,
    "Bronze": 1,
    "No Medal": 0
})

#### Extraire la plage des années présentes dans le dataset df_athlete

In [24]:
min_year = df_athlete_merged["Year"].min()
max_year = df_athlete_merged["Year"].max()

print("Année minimale :", min_year)
print("Année maximale :", max_year)

Année minimale : 1896
Année maximale : 2016

# WORLD BANK DATA

In [ ]:
wb_indicators = {
    "population_total": "SP.POP.TOTL",
    "population_65_UP": "SP.POP.65UP.TO",
    "population_15_64": "SP.POP.1564.TO",
    "densite": "EN.POP.DNST",
    "pib_total": "NY.GDP.MKTP.CD",
    "pib_par_habitant": "NY.GDP.PCAP.CD",
    "croissance_pib": "NY.GDP.MKTP.KD.ZG",
    "participation_femmes": "SL.TLF.CACT.FE.ZS",
    "densite_urbaine": "EN.URB.LCTY",
    "population_urbaine": "SP.URB.TOTL.IN.ZS"

}

In [26]:
import requests
import time

def get_wdi_indicator(code, name):
    records = []
    page = 1
    
    while True:
        url = (f"https://api.worldbank.org/v2/country/all/indicator/"
               f"{code}?format=json&per_page=20000&page={page}&date=1896:2016")

        response = requests.get(url)
        
        try:
            data = response.json()
        except:
            print(f" Erreur JSON → {name}")
            break

        if len(data) < 2 or data[1] is None:
            print(f" Aucun résultat pour {name} (page {page})")
            break

        for d in data[1]:
            if d["value"] is not None:
                records.append({
                    "country": d["country"]["value"],
                    "year": int(d["date"]),
                    name: d["value"]
                })

        total_pages = data[0].get("pages", 1)
        if page >= total_pages:
            break

        page += 1
        time.sleep(0.05)
    
    return pd.DataFrame(records)

#### Télecharger tous les indicateurs dans des dataframes stockés dans une liste

In [ ]:
#  DOWNLOAD DE TOUS LES INDICATEURS
dataFrames = []

for name, code in wb_indicators.items():
    df_indicators = get_wdi_indicator(code, name)
    if not df_indicators.empty:
        dataFrames.append(df_indicators)
        print(f"Télechargement de : {len(df_indicators)} lignes pour {name}")
    else:
        print(f"Vide → {name}")

Télechargement de : 15075 lignes pour population_total
Télechargement de : 15075 lignes pour population_65_UP
Télechargement de : 15075 lignes pour population_15_64
Télechargement de : 13498 lignes pour densite
Télechargement de : 12518 lignes pour pib_total
Télechargement de : 12518 lignes pour pib_par_habitant
Télechargement de : 12091 lignes pour croissance_pib
Télechargement de : 6345 lignes pour participation_femmes
Télechargement de : 8721 lignes pour densite_urbaine
Télechargement de : 14991 lignes pour population_urbaine

Chaque indicateur n’a pas les mêmes pays / années. Si l’année/pays existe dans au moins un DataFrame → on garde la ligne et si une colonne manque → NaN

In [28]:
# Fusion progressive
df_wb = dataFrames[0]
for d in dataFrames[1:]:
    df_wb = df_wb.merge(d, on=["country","year"], how="outer")

In [29]:
df_wb.shape

(15105, 12)

In [47]:
df_wb.isnull().sum()

country                    0
year                       0
population_total          30
population_65_UP          30
population_15_64          30
densite                 1607
pib_total               2587
pib_par_habitant        2587
croissance_pib          3014
participation_femmes    8760
densite_urbaine         6384
population_urbaine       114
dtype: int64

## dataframe final

In [73]:
df_wb_final = df_wb.merge(
    df_noc,
    left_on=["country"],
    right_on=["region"],
    how="inner"
)
df_wb_final.head()

,country,year,population_total,population_65_UP,population_15_64,densite,pib_total,pib_par_habitant,croissance_pib,participation_femmes,densite_urbaine,population_urbaine,NOC,region
0,Afghanistan,1960,9035043.0,255092.0,4990044.0,NaN,NaN,NaN,NaN,NaN,285352.0,8.401,AFG,Afghanistan
1,Afghanistan,1961,9214083.0,258856.0,5082677.0,14.127046,NaN,NaN,NaN,NaN,300359.0,8.684,AFG,Afghanistan
2,Afghanistan,1962,9404406.0,262649.0,5181296.0,14.418849,NaN,NaN,NaN,NaN,316177.0,8.976,AFG,Afghanistan
3,Afghanistan,1963,9604487.0,266530.0,5281410.0,14.725614,NaN,NaN,NaN,NaN,332829.0,9.276,AFG,Afghanistan
4,Afghanistan,1964,9814318.0,270658.0,5381453.0,15.047327,NaN,NaN,NaN,NaN,350382.0,9.586,AFG,Afghanistan

In [74]:
df_wb_final.shape

(10203, 14)

In [75]:
df_wb_final.isnull().sum()

country                    0
year                       0
population_total           0
population_65_UP           0
population_15_64           0
densite                 1265
pib_total               1678
pib_par_habitant        1678
croissance_pib          1893
participation_femmes    5856
densite_urbaine         2394
population_urbaine        57
NOC                        0
region                     0
dtype: int64

#### supprimer la colonne region car c'est la meme que country

In [76]:
df_wb_final.drop(columns=["region"], inplace=True)

#### Traitement des valeurs null

même si par exemple PIB de certains pays diminuer avec les années, l’interpolation reste parfaitement correcte car l’interpolation respecte la tendance réelle, même si elle est négative

ce code remplit uniquement les valeurs manquantes (NaN) quand il y a des valeurs avant et après

In [77]:
df_wb_final = df_wb_final.sort_values(by=["country", "year"])

# Colonnes économiques à interpoler
econ_cols = ["pib_total", "pib_par_habitant", "croissance_pib","population_urbaine","densite_urbaine","densite"]

# Interpolation par pays
for col in econ_cols:
    df_wb_final[col] = df_wb_final.groupby("country")[col].transform(lambda x: x.interpolate(method="linear"))

L’interpolation est utile uniquement quand :

les données représentent une évolution naturelle dans le temps

In [78]:
df_wb_final.isnull().sum()

country                    0
year                       0
population_total           0
population_65_UP           0
population_15_64           0
densite                 1265
pib_total               1668
pib_par_habitant        1668
croissance_pib          1880
participation_femmes    5856
densite_urbaine         2394
population_urbaine        57
NOC                        0
dtype: int64

### Exportation des dataframes aux fichiers csv

In [79]:
df_wb_final.to_csv("world_bank_data_processed.csv", index=False)

In [85]:
df_athlete_merged.to_csv("athlete_data_processed.csv", index=False)

In [89]:
df_noc.to_csv("noc_regions_processed.csv", index=False)